<!DOCTYPE html>
<%-include partials/header%>
这是主页
<%-include partials/footer%>
<!-- <html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->
