<%- include header %>
<h1><%= title %></h1>
<a href="/main">主页</a>
<br>
<% if (reports.length > 0){ %>
  <table border="1" width=768>
    <caption font-size=24>仓位异常信息</caption>
    <tr>
      <th>
        上报序号
      </th>
      <th>
        货物序号
      </th>
      <th>
        货物名称
      </th>
      <th>
        纠正仓位
      </th>
      <th>
        上报时间
      </th>
      <th>
        上报人
      </th>
      <th>
        操作
      </th>
    </tr>
    <% reports.forEach(function(report, index){ %>
    <tr>
      <tr>
        <td>
          <%= report.no %>
        </td>
        <td>
          <%= report.BM %>
        </td>
        <td>
          <%= report.LJM %>
        </td>
        <td>
          <%= report.location %>
        </td>
        <td>
          <%= report.time_stamp %>
        </td>
        <td>
          <%= report.name %>
        </td>
        <td>
          <a href="error-position?deal=<%=report.no %>">处理</a>
        </td>
    </tr>
    <% }) %>
    </tr>
  </table>
<% } else { %>
  <p>
    暂无任何信息。
  </p>
<% } %>

<%- include footer %>
